/* index.css is used to style and layout home page */



/* banner */
.banner {
    height:315px;
    background-color: #1c036c;
}

.banner .wrapper {
    height:315px;
    background-image: url(../images/banner.jpg);
}

.banner .left {
    float: left;
    padding:  20px;
    width: 190px;
    height: 315px;
    background-color: rgba(0,0,0,0.3);

    line-height: 40px;
}

.banner .right {
    float: right;
    margin-top: 7px;
    width: 228px;
    height: 300px;
    background-color: rgba(228, 224, 224, 0.3);
}

.banner .left span {
    float: left;
}

.banner .left a {
    font-size: 14px;
    color: #fff;
}

.banner .left h2 {
    color: #fff;
}
.banner .left a:hover {
    color: #00b4ff;
}

.banner .right h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;

}

.banner .right .content {
    padding: 0 18px;
    
}

.banner .right .content dl {
    padding:12px 0;
    border-bottom: 2px solid #e5e5e5;

}

.banner .right .content dt {
    font-size: 16px;
    color: #fff;
}

.banner .right .content dd {
    font-size: 14px;
    color: #fff;
}

.banner .right .more {
    /* margin: 4px 14px 0; */
    margin: 4px auto 0;
    display: block;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;

    font-size: 16px;
    color: #00a4ff;
    font-weight: 700;

    text-align: center;
    line-height: 40px;
}

.goods {
    height: 60px;
    padding-left: 34px;
    padding-right: 26px;
    line-height: 60px;
    margin-top: 8px;
    background-color: #fff;

    box-shadow: 0px 2px 3px 0px rgba(118,118,118,0.2);
}

.goods h2 {
    float: left;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 400;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods li a {
    border-left: 1px solid #bfbfbf;
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
}

.goods .xingqu {
    float: right;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 35px;
}

.box .title {
    height: 40px;
    /* background-color: pink; */
}

.box .title h2 {
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
}

.box .title a {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box .content li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}

.box .content li:nth-child(5n) {
    margin-right: 0;
}

.box .content li h3 {
    padding: 20px;
    font-size: 14px;
    color: #a5a5a5;
    font-weight: 400;
}

.box .content li p {
    padding: 0 20px;
    font-size: 12px;
}

.box .content li span {
    color: #ff7c2d;
}

.box .content li img {
    width: 228px;
    height: 160px;
}

